


.box-title .title {
   
  position: relative;
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  color: #358941;
  letter-spacing: 1px;
  font-family: 'Calibri';
  top: -105px;
  left: 6px;
  }
  .box-title .title .subtitle {
    
    margin-top: 5px;
    font-size: 15px;
    color: #4c4c4c;
    word-spacing: 1px;
    font-weight: bold;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: 'Calibri';
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    position: relative;
    top: 59px;
    left: -10px;
  
  }
  .box-title .title .subtitle:after,.box-title .title .subtitle:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #7aa680;
    border-top: 1px solid #7aa680;
    height: 6px;
    background-color: transparent;
  }
  .box-formulario {
    display: flex;

    padding: 60px 0;
  }
  .formulario {
      width: 700px;
      padding: 60px 5%;
      text-align: center;
  }
  .formulario span {
    position: relative;
    display: flex;
    margin: 45px 10px;
  }
  /*input Animado*/
  .input-hidden {
    width: 398px;
    position: absolute;
    height: 711px;
    background: transparent;
    padding-bottom: 500px;
    left: -21px;
    top: -67px;

  }
  .input-hidden::-webkit-input-placeholder {
    color: #232323;
    font-weight: 300;
  }
 
  /*TextArea*/
  .textarea-hidden {
    display: inline-block;
    width: 100%;
    height: 78px;
    padding: 10px 10px 13px 60px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #232323;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    outline: 0;
    transition: all .3s ease-in-out;
    resize: none;
  }
  .textarea-hidden::-webkit-input-placeholder {
    color: #232323;
    font-weight: 300;
  }
  .textarea-hidden + label {
    
    display: inline-block;
    position: absolute;
    transform: translateX(-2px);
    top: 0px;
    left: 0;
    padding: 0px 0px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    transition: all .3s ease-in-out;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    width: 50px;
    height: 79px;
    line-height: 89px;
    color: #9bdba4;
  }
  .textarea-hidden + label:before, .textarea-hidden + label:after {
    
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
  }
  .textarea-hidden + label:before {
    
    top: 5px;
    bottom: 5px;
    background: #43a351;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .textarea-hidden + label:after {
    top: 0;
    bottom: 0;
    background: #358941;
  }
  .textarea-hidden:focus,
  .textarea-hidden:active {
    
    padding: 10px 10px 13px 42px;
    color: #377D6A;
    background: #fff;
  }
  .textarea-hidden:focus::-webkit-input-placeholder,
  .textarea-hidden:active::-webkit-input-placeholder {
    color: #358941;
  }
  .textarea-hidden:focus + label,
  .textarea-hidden:active + label {
    
    top:18px;
    width: 60px;
    height: 50px;
    line-height: 55px;
    transform: translateX(-35%);
    color: #fff;
  }
  .textarea-hidden:focus + label:after,
  .textarea-hidden:active + label:after {
    transform: translateX(101%);
  }
  /*Botão*/
  .box-btn { 
    width: 60%;
    padding: 0 10px;
    float: left;
    position: absolute;
    left: 134px;
    top: 1409px;

  }
  .btn-submit {
    position: relative;
    color: #fff;
    background: #43a351;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
    width: 42%;
    padding: 0.5em 1em;
    font-size: 1.3em;
    font-weight: bold;
    float: left;
  }
  .btn-submit:hover {
   
    background-color:#4c4c4c;
  }


  .Supervisor {
    color: black;
    padding-left: 6.5%;
    font-size: 12px;
  }


  .produto {
    padding-left: 10%;
    padding-right: 30%;
  }
  
  
  
  .medida {
     margin: auto;
     border: black;
     border: 17px;
     position: absolute;
     left: 5px;
     border-color: black;
     border-radius: 7px;
     background: transparent;
  }

  .codigo {
    position: absolute;
    left: 56px;
    border: 17px;
    border-radius: 7px;
    background: transparent;
}
  

  .Descricao {
    display: flex;
    position: absolute;
    width: 84%;
    top: 0%;
    right: 17%;
    font-size: 8px;
    align-items: center;


  }
  .produto1 {
    display: flex;
    position: absolute;
    width: 87%;
    padding-left: 4px;
    top: 5%;
    right: 13%;
    padding-bottom: 2px;
  }

  .number1 {
    width: 29px;
    height: 18px;
    position: absolute;
    left: 104%;
    bottom: -17px;
    outline: none;
    border-radius: 7px;
    border: 2px;


  }

  .number2 {
    width: 29px;
    height: 18px;
    position: absolute;
    left: 88%;
    bottom: -17px;
    outline: none;
    border-radius: 7px;
    border: 5px;
  }
  
  #linha-horizontal {
    width: 102%;
    border: 1px solid #000;
    position: absolute;
    left: -1%;
    top: 4%;
}

.produto2 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 7%;
  right: 13%;
  padding-bottom: 2px;
}

.produto3 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 9%;
  right: 13%;
}

.produto4 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 11%;
  right: 13%;
}

.produto5 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 13%;
  right: 13%;
}

.produto6 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 15%;
  right: 13%;
}

.produto7 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 17%;
  right: 13%;
}

.produto8 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 19%;
  right: 13%;
}

.produto9 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 21%;
  right: 13%;
}

.produto10 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 23%;
  right: 13%;
}

.produto11 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 25%;
  right: 13%;
}

.produto12 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 27%;
  right: 13%;
}

.produto13 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 29%;
  right: 13%;
}

.produto14 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 31%;
  right: 13%;
}

.produto15 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 33%;
  right: 13%;
}

.produto16 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 35%;
  right: 13%;
}


.produto17 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 37%;
  right: 13%;
}

.produto18 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 39%;
  right: 13%;
}

.produto19 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 41%;
  right: 13%;
}

.produto20 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 43%;
  right: 13%;
}

.produto21 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 45%;
  right: 13%;
}

.produto22 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 47%;
  right: 13%;
}

.produto23 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 49%;
  right: 13%;
}

.produto24 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 51%;
  right: 13%;
}

.produto25 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 53%;
  right: 13%;
}

.produto26 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 55%;
  right: 13%;
}

.produto27 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 57%;
  right: 13%;
}

.produto28 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 59%;
  right: 13%;
}

.produto29 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 61%;
  right: 13%;
}

.produto30 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 63%;
  right: 13%;
}

.produto31 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 65%;
  right: 13%;
}

.produto32 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 67%;
  right: 13%;
}

.produto33 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 69%;
  right: 13%;
}

.produto34 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 71%;
  right: 13%;
}

.produto35 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 73%;
  right: 13%;
}

.produto36 {
  display: flex;
  position: absolute;
  width: 87%;
  padding-left: 4px;
  top: 75%;
  right: 13%;
}


.descricao2 {
  display: flex;
  position: absolute;
  width: 48%;
  top: 0%;
  right: 14%;
  font-size: 12px;
  padding: 0px;
  border-radius: 8px;
  border: none;
  height: 16px;
  text-align: center;
  background: transparent;

}


.pula {
  display: none;

}


  .nome {
    position: relative;
    width: 86%;
    padding: 6px 20px;
    border-color: black;
    border-radius: 5px;
    background-color: #f1f1f1;
    bottom: 51px;
    left: -10%;

}

.escola {

  position: relative;
  width: 86%;
  padding: 6px 20px;
  border-color: black;
  border-radius: 5px;
  background-color: #f1f1f1;
  top: -60px;
  margin-top: 34px;
  display: none;
  margin-left: 29px;
  left: -10%;

}

.escola2 {
  position: relative;
  width: 86%;
  padding: 6px 20px;
  border-color: black;
  border-radius: 5px;
  background-color: #f1f1f1;
  top: -60px;
  margin-top: 34px;
  display: none;
  margin-left: 29px;
  left: -10%;
}

.escola3 {
  position: relative;
  width: 86%;
  padding: 6px 20px;
  border-color: black;
  border-radius: 5px;
  background-color: #f1f1f1;
  top: -60px;
  margin-top: 34px;
  display: none;
  margin-left: 29px;
  left: -10%;
}
.escola4 {
  position: relative;
  width: 86%;
  padding: 6px 20px;
  border-color: black;
  border-radius: 5px;
  background-color: #f1f1f1;
  top: -60px;
  margin-top: 34px;
  display: none;
  margin-left: 29px;
  left: -10%;
}


.escola5 {
  position: relative;
  width: 86%;
  padding: 6px 20px;
  border-color: black;
  border-radius: 5px;
  background-color: #f1f1f1;
  top: -60px;
  margin-top: 34px;
  display: none;
  margin-left: 29px;
  left: -10%;

}


.mes {
    position: relative;
    top: 35px;
    width: 39%;
    padding: 6px 20px;
    border-color: black;
    border-radius: 5px;
    background-color: #f1f1f1;
    left: -96px;
}

.nomes2 {
  font-size: 10px;
  position: relative;
  left: -166px;
  bottom: 43px;


}

.nomes3 {
  font-size: small;
  position: relative;
  left: -174px;
  top: -26px;
  display: none;
  font-size: 10px;

}

.nomes4 {

  font-size: small;
  position: relative;
  left: -48%;
  top: -44px;
  font-size: 10px;

}

.date {
  position: relative;
  width: 27%;
  padding: 2px 2px;
  border-color: black;
  border-radius: 5px;
  background-color: #f1f1f1;
  bottom: 51px;
  left: -38%;
  height: 19%;



}

.img-t {
  position: absolute;
  width: 75px;
  top: 13px;
  left: -2px;

}

.moldura {
  position: absolute;
  background: gray;
  opacity: 0.5;
  width: 411px;
  height: 955px;
  left: -26px;
  border-radius: 20px;
  top: -65px;
}

.logo {
  width: 396px;
  position: absolute;
  top: 947px;
  left: -26px;
}

